@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h2 {
  font-family: "Rubik Mono", monospace;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #222;
}
